@import 'lemonade';



@font-face {
    font-family: 'Gelano Bold';
    src: url('../style/fonts/rene_bieder_-_galano_grotesque_bold-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_galano_grotesque_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Gelano';
    src: url('../style/fonts/rene_bieder_-_galano_grotesque-webfont.woff2') format('woff2'),
         url('../style/fonts/rene_bieder_-_galano_grotesque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$mega: 'Gelano';
$mega-bold: 'Gelano Bold';

$purple: #6633FF;
$green: #00D2A4;
$mega-black: #282828;

h1, h2, h3, h4, h5, h6 {
	font-family: $mega-bold;
}

h1 {
	font-size: 3.2rem;
	line-height: 1.5;
}

body {
	font-family: $mega;
	color: $green;
}

p {
	font-size: 1.2rem;
	line-height: 1.6;
}
a {
	color: $green;
}


#top-header {
	background: #fff;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	z-index: 2;
	-ms-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	&.show {
		opacity: 1;
	}

	img.hero-logo {
		width: 5rem;
	}
		.contain {
		margin: auto;
		width: 80%;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
	}
	a {
		text-decoration: none;
		font-family: $mega-bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $mega-black;
		font-size: 1.1rem;
	}
}


/*=====================

	top about section

========================*/

section.mega-section.top-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    z-index: 2;
    -ms-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease-in;

    &.shrinky {
    	
    	min-height: 0;
    	height: 6rem;
    }
}



img.hero-logo {
	width: 23rem;
	-ms-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -webkit-transition: all .6s linear;
    transition: all .6s linear;
}

.shrinky {
	img.hero-logo {
		
		width: 5rem;
	}
}

section#studio {
	margin-top: 36%;
	opacity: 0;
	-ms-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
	&.show {
		opacity: 1;
	}
}











.slash {
	width: 24%;
    height: 1.666rem;
    background: #6633FF;
    position: absolute;
    transform: rotate(135deg);
    top: 47%;
    left: 50%;
    margin-left: -12%;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

html, body {
	height: 100%;
}

.mega-section {
	min-height: 100%;
	display: flex;
	align-items: center;
	

}

.contain {
	width: 80%;
	margin: auto;
	position: relative;
}

.top-section {
		.contain {
		margin: auto;
		width: 80%;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
	}
	a {
		text-decoration: none;
		font-family: $mega-bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $green;
		font-size: 1.3rem;
	}
}

.intro-section {
	h1, p {
		color: $purple;
	}
}

.intro-top {
	width: 50%;
	float: left;

}

.intro-bottom {
	width: 33%;
	float: right;
	clear: left;

}

section.mega-section.about-section {
	min-height: 0;
	background-color: $green;
	p {
		color: #fff;
		font-family: $mega-bold;
		font-size: 1.6rem;
	}
}

.about-left {
    width: 50%;
    display: inline-block;
    padding-left: 10%;
    padding-right: 16%;
}

.about-right {
	width: 50%;
	display: inline-block;
	font-size: 0; 
}

.mega-man {
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	font-size: 0;
	width: 50%;
	@include aspect-ratio(1,1);
}

h2.name-tag {
	background: rgba(255, 255, 255, .7);
	display: inline-block;
	font-size: 1.4rem;
	color: $mega-black;
	font-weight: bold;
	padding: .25rem 1rem;

}
h3.title-tag {
		background: rgba(255, 255, 255, .7);
	display: inline-block;
	font-size: 1.4rem;
	color: $mega-black;
	font-weight: normal;
	padding:.25rem  1rem;

	font-family: $mega;
}

.name-tag-contain {
    position: absolute;
    bottom: 0;
    left: 0;
}



section.mega-section.capabilities-section {
	background-color: $purple;
	color: #fff;
	h1 {
  
    	margin-bottom: 8rem;
	}
	h3 {
		font-family: $mega;
		font-weight: normal;
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
	ul {
		margin:0;
		li {
			list-style: none;
			line-height: 1.7;
		}
	}
}
.partners-title {
    width: 64%;
    float: left;
}

.partners-list {
    width: 36%;
    float: left;
}

section.mega-section.partners-section {
	color: $mega-black;
	.contain {
		    display: flex;
    align-items: center;
	}
	h1 {
		width: 66.66%;
    	float: left;
	}
	ul {
		 width: 33.333%;
    float: left;
		margin: 0;
		padding-left: 0.3em;
		li {
			list-style: none;
    		font-family: $mega-bold;
    		font-size: 1.6rem;
    		line-height: 2;
		}
	}
}

section.mega-section.content-section {

	background: $mega-black;
	h3 {
	    font-size: 1.66rem;
	    line-height: 1.6;
	    margin-bottom: 2.6rem;
	}
	a.hilite {
		color: #fff;
	}
	.slash {
		background: $green;
	}
	.contact-top {
		position: relative;
	}
	.contact-bottom {
		width: 33%;
    	float: right;
    	clear: left;
    	text-align: right;
	}
}

h1.hup {
    position: absolute;
    right: 0;
    line-height: 1;
    padding: 0;
    bottom: 0;
    margin: 0;
}


/****************************

	mq

*****************************/

@media all and (max-width: 1660px) {
	h1 {
		font-size: 2.8rem;
	}
}

@media all and (max-width: 1575px) {
.slash {
	width: 33%;
	}
}


@media all and (max-width: 1475px) {
	h1 {
		font-size: 2.4rem;
	}
	p {
		font-size: 1.1rem;
	}

	section.mega-section.about-section p {
		font-size: 1.4rem;
	}
}

@media all and (max-width: 1250px) {

	section.mega-section.about-section p {
		font-size: 1.2rem;
	}
}

@media all and (max-width: 1250px) {
	h1 {
		font-size: 2.1rem;
	}
}


@media all and (min-width: 2050px) {
	html {
		font-size: 120%;
	}
}

@media all and (min-width: 2460px) {
	html {
		font-size: 140%;
	}
}