* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }

.frame:after {
  content: "";
  display: table;
  clear: both; }

[class*='bit-'] {
  float: left;
  padding: 0.3em; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }

  .bit-2 {
    width: 100%; }

  .bit-3 {
    width: 100%; }

  .bit-4 {
    width: 100%; }

  .bit-5 {
    width: 100%; }

  .bit-6 {
    width: 100%; }

  .bit-7 {
    width: 100%; }

  .bit-8 {
    width: 100%; }

  .bit-9 {
    width: 100%; }

  .bit-10 {
    width: 100%; }

  .bit-11 {
    width: 100%; }

  .bit-12 {
    width: 100%; } }
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4, .bit-6, .bit-8, .bit-10, .bit-12 {
    width: 50%; }

  .bit-1, .bit-2, .bit-3, .bit-5, .bit-7, .bit-9, .bit-11 {
    width: 100%; } }
@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2, .bit-7 {
    width: 100%; }

  .bit-4, .bit-8, .bit-10, .bit-12 {
    width: 50%; } }
.box {
  background: #FCD920;
  font-family: "Futura", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0; }

.box--new {
  background: #87D37C; }

@font-face {
  font-family: 'Gelano Bold';
  src: url("../style/fonts/rene_bieder_-_galano_grotesque_bold-webfont.woff2") format("woff2"), url("../fonts/rene_bieder_-_galano_grotesque_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gelano';
  src: url("../style/fonts/rene_bieder_-_galano_grotesque-webfont.woff2") format("woff2"), url("../style/fonts/rene_bieder_-_galano_grotesque-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "Gelano Bold"; }

h1 {
  font-size: 3.2rem;
  line-height: 1.5; }

body {
  font-family: "Gelano";
  color: #00D2A4; }

p {
  font-size: 1.2rem;
  line-height: 1.6; }

a {
  color: #00D2A4; }

#top-header {
  background: #fff;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  #top-header.show {
    opacity: 1; }
  #top-header img.hero-logo {
    width: 5rem; }
  #top-header .contain {
    margin: auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #top-header a {
    text-decoration: none;
    font-family: "Gelano Bold";
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #282828;
    font-size: 1.1rem; }

/*=====================

  top about section

========================*/
section.mega-section.top-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all .6s ease;
  -webkit-transition: all .6s ease-in;
  transition: all .6s ease-in; }
  section.mega-section.top-section.shrinky {
    min-height: 0;
    height: 6rem; }

img.hero-logo {
  width: 23rem;
  -webkit-transition: all .6s linear;
  transition: all .6s linear; }

.shrinky img.hero-logo {
  width: 5rem; }

section#studio {
  margin-top: 36%;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }
  section#studio.show {
    opacity: 1; }

.slash {
  width: 24%;
  height: 1.666rem;
  background: #6633FF;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 47%;
  left: 50%;
  margin-left: -12%; }

html, body {
  height: 100%; }

.mega-section {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contain {
  width: 80%;
  margin: auto;
  position: relative; }

.top-section .contain {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.top-section a {
  text-decoration: none;
  font-family: "Gelano Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #00D2A4;
  font-size: 1.3rem; }

.intro-section h1, .intro-section p {
  color: #6633FF; }

.intro-top {
  width: 50%;
  float: left; }

.intro-bottom {
  width: 33%;
  float: right;
  clear: left; }

section.mega-section.about-section {
  min-height: 0;
  background-color: #00D2A4; }
  section.mega-section.about-section p {
    color: #fff;
    font-family: "Gelano Bold";
    font-size: 1.6rem; }

.about-left {
  width: 50%;
  display: inline-block;
  padding-left: 10%;
  padding-right: 16%; }

.about-right {
  width: 50%;
  display: inline-block;
  font-size: 0; }

.mega-man {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  font-size: 0;
  width: 50%;
  position: relative; }
  .mega-man:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .mega-man > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

h2.name-tag {
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 1.4rem;
  color: #282828;
  font-weight: bold;
  padding: .25rem 1rem; }

h3.title-tag {
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 1.4rem;
  color: #282828;
  font-weight: normal;
  padding: .25rem  1rem;
  font-family: "Gelano"; }

.name-tag-contain {
  position: absolute;
  bottom: 0;
  left: 0; }

section.mega-section.capabilities-section {
  background-color: #6633FF;
  color: #fff; }
  section.mega-section.capabilities-section h1 {
    margin-bottom: 8rem; }
  section.mega-section.capabilities-section h3 {
    font-family: "Gelano";
    font-weight: normal;
    font-size: 1.4rem;
    margin-bottom: 2rem; }
  section.mega-section.capabilities-section ul {
    margin: 0; }
    section.mega-section.capabilities-section ul li {
      list-style: none;
      line-height: 1.7; }

.partners-title {
  width: 64%;
  float: left; }

.partners-list {
  width: 36%;
  float: left; }

section.mega-section.partners-section {
  color: #282828; }
  section.mega-section.partners-section .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  section.mega-section.partners-section h1 {
    width: 66.66%;
    float: left; }
  section.mega-section.partners-section ul {
    width: 33.333%;
    float: left;
    margin: 0;
    padding-left: 0.3em; }
    section.mega-section.partners-section ul li {
      list-style: none;
      font-family: "Gelano Bold";
      font-size: 1.6rem;
      line-height: 2; }

section.mega-section.content-section {
  background: #282828; }
  section.mega-section.content-section h3 {
    font-size: 1.66rem;
    line-height: 1.6;
    margin-bottom: 2.6rem; }
  section.mega-section.content-section a.hilite {
    color: #fff; }
  section.mega-section.content-section .slash {
    background: #00D2A4; }
  section.mega-section.content-section .contact-top {
    position: relative; }
  section.mega-section.content-section .contact-bottom {
    width: 33%;
    float: right;
    clear: left;
    text-align: right; }

h1.hup {
  position: absolute;
  right: 0;
  line-height: 1;
  padding: 0;
  bottom: 0;
  margin: 0; }

/****************************

  mq

*****************************/
@media all and (max-width: 1660px) {
  h1 {
    font-size: 2.8rem; } }
@media all and (max-width: 1575px) {
  .slash {
    width: 33%; 
    margin-left: -16.6667%;} }
@media all and (max-width: 1475px) {
  h1 {
    font-size: 2.4rem; }

  p {
    font-size: 1.1rem; }

  section.mega-section.about-section p {
    font-size: 1.4rem; } }
@media all and (max-width: 1250px) {
  section.mega-section.about-section p {
    font-size: 1.2rem; } }
@media all and (max-width: 1250px) {
  h1 {
    font-size: 2.1rem; } }
@media all and (min-width: 2050px) {
  html {
    font-size: 120%; } }
@media all and (min-width: 2460px) {
  html {
    font-size: 140%; } }